ConnectionStrings__DefaultConnection=your-postres-connection-string
AzureStorage__ConnectionString=your-storage-connection-string
AzureStorage__ContainerName=your-container-name
AzureSearch__Endpoint=your-azure-search-endpoint
AzureSearch__ApiKey=your-search-api-key
AzureSearch__IndexName=azure-search-index
AzureSearch__IntegrationTestIndexName=azure-search-index-test-index
AzureOpenAI__Endpoint=your-open-ai-resource-endpoint
AzureOpenAI__ApiKey=your-openai-api-key
AzureOpenAI__EmbeddingDeployment=embedding-deployment-model
AzureOpenAI__ChatDeployment=chat-deployment-model
ApplicationInsights__ConnectionString=your-app-insights-connection-string